extends ../layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block contenido 

    //- pre= JSON.stringify(usuario,undefined,2)
    div(class="py-5")
        h1(id="titulo" class="text-4xl my-10 font-extrabold text-center uppercase" )= prop.titulo
        div()
            a(class="font-bold text-gray-600 text-lg" href='#') Categoria: 
                span(class="font-normal")= prop.categoria.nombre

        div(class="mt-5 md:flex md:gap-4 md:items-start")
            div(class="md:w-2/3 shadow bg-white rounded-lg")
                img(src=`/uploads/${prop.imagen}` alt=`${prop.titulo}`)
                div(class="px-5 py-10 space-y-5")
                    h2(class="text-2xl leading-6 font-bold text-gray-900") Informacion Propiedad:  
                    p= prop.descripcion
                div(class="grid grid-cols-1 md:grid-cols-2 gap-4 px-5")
                    p(class="text-gray-600 font-bold text-xs") WC: 
                        span(class="text-gray-800 text-lg block")= prop.wc
                    p(class="text-gray-600 font-bold text-xs") Habitaciones:  
                        span(class="text-gray-800 text-lg block")= prop.habitaciones
                    p(class="text-gray-600 font-bold text-xs") Estacionamientos: 
                        span(class="text-gray-800 text-lg block")= prop.estacionamiento
                    p(class="text-gray-600 font-bold text-xs") Precio: 
                        span(class="text-gray-800 text-lg block")= prop.precio.nombre

            aside(class="md:w-1/3 bg-white rounded-lg")
                h3(class="text-center py-10 leading-6 text-2xl font-bold text-gray-900") Ubicacion
                div(class="h-96 " id="mapa")
                    p(id="lat" class="hidden")= prop.lat
                    p(id="lng" class="hidden")= prop.lng
                div(class="p-5")
                    p(class="text-gray-600 font-bold text-xs") Direccion    
                        span(class="text-gray-800 block text-lg")= prop.calle

                    if !esVendedor
                        h3(class="text-2xl text-center my-10 font-extrabold text-gray-900") Vendedor
                        if usuario
                            if errores 
                                div(class="max-w-md mx-auto my-10")
                                    each error in errores
                                        p(class="bg-red-600 rounded-lg text-center p-2 mb-1 uppercase text-white text-xs font-bold")= error.msg
                            form(class='' method='POST')
                                
                                input(type="hidden" name="_csrf" value=csrfToken)
                                div(class='space-y-5')
                                    label(for='mensaje') Mensaje 
                                    textarea(name="mensaje" id='mensaje' class='w-full py-2 border border-gray-300 rounded-lg shadow placeholder-gray-400' placeholder='Coloca tu mensaje aqui')
                                    input(type='submit' value='Enviar Mensaje' class='bg-indigo-600 text-white uppercase font-bold text-sm w-full p-2 cursor-pointer') 
                        else 
                            div(class="flex justify-center gap-2")
                                p(class="text-center") Si deseas contactar al vendedor   
                                    a(class="text-indigo-600" href="/auth/registro") debes crear una cuenta
block scripts 
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mostrarMapa.js")